body {
    font-family: Verdana, sans-serif;
}

.navbar {
    background-color: #282A35;
}

.container {
    margin: 2px;
    float: left;
    background-color: white;
}

.material-icons {
    color: aliceblue;
    margin: 8px 0px 0px 1px;
}

.nav-link {
    margin-right: 45px;
}

.leftmenu {
    float: left;
    padding-left: 8px;
    background-color: #E7E9EB;
    width: 15%;
    overflow-y: scroll;
}

.leftmenu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.leftmenu a:hover {
    background-color: #66e697;
}

.main-box {
    padding-top: 40px;
}

.next {
    float: right;
}

.button {
    margin-top: 50px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

.leftmenu h2 {
    font-size: 21px;
}

h1,
h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

code {
    color: red;
    background-color: #f1f1f1;
}